html,
body {
  margin: 0 !important;
  padding: 0 !important;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #497df1;
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}
.App-header {
  z-index: 2;
  padding: 0.5rem 5rem 2rem;
  position: fixed;
  width: 100vw;
  top: 0;
  background-color: #0235a7;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  z-index: -1;
  background-color: #7e7ec7;
  margin-top: 15vh;
  font-size: calc(10px + 2vmin);
  display: block;
  padding: 2rem 5rem;
}

.search-input::placeholder {
  color: #ffffff !important;
  font-weight: bold;
  letter-spacing: 0.06rem;
  font-size: 1.2rem;
}
